.job_ad_deco{
  display: block; 
  margin: 0px 15px 15px 15px; 
  width: 100%; 
  text-align: left; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  padding: 20px; 
}

.job-ad { 
  margin: 10px; 
}

.job_ad_deco:hover {
  transform: scale(1.02);
}

.job-ad h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #555;
}

.job-ad p {
  margin: 0 0 15px;
  font-size: 1em;
  color: #555;
}

@media (max-width: 743px){
.job-details{
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
}
}

.job-title {
font-size: 1.5rem;
color: #0073e6;
margin-bottom: 10px;
}

.company-info {
font-size: 1rem;
color: #666;
margin-bottom: 15px;
}

.location, .salary {
font-size: 1rem;
color: #333;
font-weight: bold;
}

.job-type {
background-color: #e0f7da;
color: #388e3c;
padding: 5px 10px;
border-radius: 20px;
font-size: 0.9rem;
margin-right: 10px;
}

.job-description {
font-size: 1rem;
color: #555;
margin-top: 10px;
}

.last-activity {
font-size: 0.8rem;
color: #888;
margin-top: 15px;
}

