/* src/components/research.css */
.research-container {
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #e4e4e448;
    padding: 45px 0;
  }
  
  .research-form {
    display: flex;
    gap: 10px;
  }
  
  .input-group {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 5px;
  }
  
  .input-group .icon-reaserch {
    margin-right: 8px;
    font-size: 1.2rem;
    color: #555;
    cursor: default;
  }
  
  .input-group input {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 8px;
  }
  
  .search-button {
    height: fit-content;
    background-color: #0073e6;
    color: white;
    border: none;
    margin: 0 5px;
    padding: 24px 20px;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #005bb5;
  }

  @media (max-width: 743px) {
    .research-form{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .search-button {
      padding: 10px 20px;
    }
  }
  