.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px; 
  padding: 20px;
  margin: 20px; 
}

.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.close-button:hover {
  background-color: #0056b3;
}

.page_title{
  text-align: center;
  font-size: 2em;
  margin: 20px 0px;
}

.job-list {
  display: flex;
  flex-direction: column;  
  align-items: center;  
}
